<!doctype html>
<html>

<head>
</head>

<body>
    <br/>
    <br/>
    <form class="jumbotron border bg-white">
        <fieldset>
            <div class="form-group">
                <label for="exampleInputName">Person Name</label>
                <input type="name" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="exampleInputBusiness">Bussiness Name</label>
                <input type="name" class="form-control" id="exampleInputBusiness" placeholder="Enter Bussines Name">
            </div>
            <div class="form-group">
                <label for="exampleInputNumber">Business GST Number</label>
                <input type="name" class="form-control" id="exampleInputNumber" placeholder="Enter Business GST Number">
            </div>
            <button type="submit" class="btn btn-primary">Add Business</button>
        </fieldset>
    </form>

</body>

</html>